@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
}
/* said styles */
.display-flex {
  display: flex;
}
.main-color {
  color: #3a3a3a;
}
.text-gray {
  color: #18191f;
}
.simple-gray {
  color: #787885;
}

/* header width hight */
#all-heder-bn {
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar related styles */
.navbar {
  margin-top: 87px;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  gap: 34px;
}
.nav-links li > a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}
#influencer-logo {
  font-size: 2.25rem;
  font-weight: 700;
}
/* Banner related styles */
.banner {
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 16px;
  font-weight: 600;
}
.banner-btn {
  margin-top: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
}
.banner-img > img {
  width: 100%;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
}
/* social media related styles */
#media {
  max-width: 1440px;
  margin: 0 auto;
}
.media-img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin-top: 70px;
  padding: 40px 0 40px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      135deg,
      rgba(192, 204, 218, 0.1),
      rgba(192, 204, 218, 0.6) 50%,
      rgba(192, 204, 218, 0.1)
    )
    1;
}
/* products related styles */
#products {
  max-width: 1440px;
  margin: 0 auto;
}
.products-main {
  margin-top: 100px;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}
.all-products {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  justify-items: center;
}
.pro-box {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 16px;
}
.pro-price {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 20px;
}
/* featured related styles */
#featured {
  max-width: 1440px;
  margin: 0 auto;
}
.featured-moue-all {
  margin-top: 175px;
  align-items: center;
  gap: 96px;
}
.featured-btn {
  font-weight: 700;
  border: none;
  color: #ffffff;
  padding: 10px 24px 10px 24px;
  background: #e02c6d;
}
.featured-description {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #6c6c6c;
  font-weight: 700;
}
.featured-title {
  color: #0a0826;
  font-size: 2.5rem;
  font-weight: 700;
}
/* footer related styles */
.footer-main {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
footer {
  background-color: rgba(10, 8, 38, 1);
  margin-top: 100px;
}
.footer-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.footer-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #d9dbe1;
  text-align: center;
}
.footer-discretion {
  font-weight: 700;
  color: #d9dbe1;
  text-align: center;
  margin-bottom: 16px;
}
footer .social-media-img > img {
  padding-left: 632px;
}
/* responsive work */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .banner,
  .featured-moue-all {
    flex-direction: column-reverse;
    gap: 100px;
    text-align: center;
  }
  .media-img,
  .all-products {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 60px;
  }
  footer .social-media-img > img{
    padding: 0;
    text-align: center;
  }
}
